# Purpose

Students have the option of using Pandas and SQL to complete this project. A Phase 1 project done completely in pandas, completely in SQL, or a mixture of the two can all be considered a fine Phase 1 project. This notebook serves as a resource for setting up an SQL database for students who wish to use SQL in their Phase 1 project.

**To create the `movies.db` database, run the code cells below.**
> The Entity Relational Diagram is below

In [1]:
from src.make_db import create_movies_db

In [2]:
create_movies_db()

imdb_title_principals table created successfully....
imdb_name_basic table created successfully....
imdb_title_crew table created successfully....
imdb_title_ratings table created successfully....
imdb_title_basics table created successfully....
imdb_title_akas table created successfully....
tn_movie_budgets table created successfully....
tmdb_movies table created successfully....
bom_movie_gross table created successfully....
rotten_tomatoes_critic_reviews table created successfully....
rotten_tomatoes_movies table created successfully....
=========================================================
Inserting data into the imdb_title_crew table....
Inserting data into the tmdb_movies table....
Inserting data into the imdb_title_akas table....
Inserting data into the imdb_title_ratings table....
Inserting data into the imdb_name_basics table....
Inserting data into the rotten_tomatoes_movies table....
Inserting data into the rotten_tomatoes_critic_reviews table....
Inserting data into the imdb_title_basics table....
Inserting data into the tn_movie_budgets table....
Inserting data into the bom_movie_gross table....
Inserting data into the imdb_title_principals table....
=========================================================
Database created successfully!
To connect to the database: open a connection using the path "data/movies.db"

![movies.db schema](images/movies_db_schema.png)

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection('create_movies_db')
cur = conn.cursor()

In [4]:
table_name_query = '''SELECT *,*
                        FROM tmdb_movies 
                        JOIN bom_movie_gross
                        ON tmdb_movies.title = bom_movie_gross.title'''
pd.read_sql(table_name_query, conn)

DatabaseError: Execution failed on sql 'SELECT *,*
                        FROM tmdb_movies
                        JOIN bom_movie_gross
                        ON tmdb_movies.title = bom_movie_gross.title': no such table: tmdb_movies